<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Forward any /api/xxx requests to api.php?route=xxx
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^api/(.*)$ api.php?route=$1 [QSA,L]

  # 2. Support standard SPA React routing fallback
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
